/* Dallasnite Colors */
$base-color: #00b0ff !default;
$text-color: #e3f2fd !default;
$accent-color: #ff4081 !default;
$background-color: #151e4c !default;
$code-background-color: #EFEAFC !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #151e4c !default;
