/* Dallasday Colors */
$base-color: #1899D9 !default;
$text-color: #1B277C !default;
$accent-color: #F2105A !default;
$background-color: #E2F5FE !default;
$code-background-color: #EFEAFC !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #F0F8FF !default;
